@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

/* CSS Variables */
:root {
	--normal-font: 400;
	--bold-font: 600;
	--bolder-font: 900;
	--background: rgb(32, 32, 32);
	--dots: rgb(50, 50, 50);
	--primary-color: #aaa;
	--secondary-color: #fff;
	--third-color: #888;
	--line-height: 1.7rem;
	--transition: 0.25s ease-in;
	--footer: #111;
}

/* Smooth scroll effect */
html {
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	display: none;
}

/* Resets */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--background);
	font-family: "Fira Code";

	background-image: radial-gradient(circle at 1px 1px, var(--dots) 1px, transparent 0);
	background-size: 20px 20px;  

	scroll-behavior: smooth;
}

a {
	transition: var(--transition);
	text-decoration: none;
	color: var(--primary-color)
}

a:hover {
	transition: var(--transition);
	color: var(--secondary-color)
}

li {
	margin-right: 5rem;
	list-style-type: none;
}

ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#logo {
	height: 4rem;
}

#logo:hover {
	transition: .5s ease-in-out;
	transform: rotate(360deg);
}

nav {
	background-color: #00000011;
	width: 100%;
	display: flex;
	justify-content: space-between;
	top: 0;
	align-items: center;
	padding: 1rem 1.5rem;
}  

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

/* Hero */

section {
	display: table-cell; vertical-align: middle;
	width: 100vw;
	height: 100vh;
	text-align: center;
}

#title {
	font-size: 125px;
	font-weight: bold;
	background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
	-webkit-text-fill-color: transparent;
	background-clip: text;
}

#sub {
	font-size: 25px;
	color: var(--third-color)
}

/* Footer */

.footer {
	font-size: 18px;
	background-color: var(--footer);
	color: #fff;
	padding: 30px 0;
}

.container {
	width: 100%;
	margin: 0 auto;
	padding: 0 50px;
}

.footer-content {
	display: grid;
	grid-template-columns: 25% 50% 25%;
}

.social-icons {
	vertical-align: middle;
	list-style: none;
	padding: 0;
	margin-left: 14vw;
	margin-right: 2vw;
}

.social-icons li {
	display: inline-block;
	margin-right: 10px;
}

.social-icons li:last-child {
	margin-right: 0;
}

.social-icons a {
	color: #fff;
	text-decoration: none;
	font-size: 20px;
}

.footer-bottom {
	margin-top: 20px;
	text-align: center;
}

.footer-bottom p {
	margin: 0;
}

@media (max-width: 768px) {
	.footer-content {
		grid-template-columns: repeat(1, 1fr);
		row-gap: 20px;
	}
	.footer-menu{
		text-align: left;
	}
	.footer-menu li {
	display: block;
	margin-bottom: 10px;
	}
}

.attribute{
	position: absolute;
	bottom: 10px;
}

.footer-logo {
	height: 4rem;
	margin-right: 14vw;
	padding: 0;
}